/* 
    Document   : highlight-styles
    Created on : Aug 12, 2012, 5:02:55 PM
    Author     : Zorayr Khalapyan
    Description:
        Purpose of the stylesheet follows.
*/

.button-highlight {
     background-color: #ffb300 !important;
     color: #494D69 !important;
     background: -webkit-gradient(linear, left top, left bottom, from(#ffc847), to(#ffb300), color-stop(1, #fff)) !important;
    -webkit-background-origin: padding-box !important;
    -webkit-background-clip: padding-box !important;
}

.menu-highlight {
    color: #494D69 !important;
    background-color: #eaf2fa !important;
}